body {
  background-color: aqua;
  height:100%;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { 
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
   }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #000;
  }
}
.open{
  cursor: pointer;
}
.edit{
  float:right;
}
.center{
  margin-left: 26%;
  padding-top: 25px;
  height: 500px;
  margin-right: 30%;
  overflow-y: auto;
  overflow-x: hidden

}
.title{
  list-style: none;
  font-size: 30px;
  border: 1px solid;
  padding: 10px;
  background: antiquewhite;
  width: 478px;
  margin-left: 39px;
  margin-bottom: 10px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-left: 39px;
}
.card-body {
  flex: 1 1 auto;
  padding: 10px;

}

.add button {
  float: left;
  width: 7%;
  padding: 6px;
  height: 40px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.add input[type=text] {
  padding: 6px;
  font-size: 15px;
  height: 26px;
  border: 1px solid grey;
  float: left;
  width: 81%;
  margin-left: 40px;
  margin-bottom: 10px;
  background: #f1f1f1;
}

.delete{
  float: right;
}
.right{
  float:right;
}
.marginbottom {
  margin-bottom: 10px;
}
input, button {
  outline: none;
}
.editsubcategory {
  display:none;
}
.savesubcategory{
  display: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  cursor: pointer;
  float: right;
}

ul li input[type=text] {
  display:none;
}

.categoryname{
  list-style: none;
  padding: 10px;
}

.fa-pencil{
  padding-right: 15px;
}

.fa-close{
  padding-right: 15px;
}

.save{
  margin-top: -21px;
  margin-right: 22px;
}

.background{
  background: #fff;
}

.heading{
  padding: 5px 5px; 
}

.circular{
  width: 33px;
  height: 100%;
  margin-left: -7px;
  margin-bottom: -12px;
  border-radius: 5px;
}

.right{
  float: right;
}

.border{
  border-bottom: 1px solid #ddd;
}

.label {
  position: absolute;
  top: 20px;
  margin-left: 9px;
  text-align: center;
  font-size: 14px;
  padding: 2px 3px;
  line-height: 14px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  font-weight: 400;
  display: grid;
  background-color: red;
  color: white;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}

.button{
  height: 31px;
  position: relative;
  background: lightskyblue;
  border-color: lightskyblue;
  border-radius: 5px;
}

#alert-empty {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  display:none;
}

#alert-exist {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  display:none;
}

.overflow {
  height: 500px;
  overflow: scroll;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  background-color: solid white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background:  #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

div.search input[type=text] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid grey;
  float: left;
  width: 65%;
  margin-left: 15px;
  margin-bottom: 10px;
  background: #f1f1f1;
}

div.search button {
  float: left;
  width: 15%;
  padding: 4px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

div.search button:hover {
  background: #0b7dda;
}

div.search::after {
  clear: both;
  display: table;
}

.closebtn{
  float: right;
}
